/* body {
  background-color: #0c3344;
}

.main-section {
  display: flex;
}

.aside-div {
  background-color: #0c3344;
  border-radius: 10px;
  display: flex;
  width: 300px;
}

#ul-aside-div {
  display: flex;
  flex-direction: column;
}

.li-aside-div {
  display: flex;
  justify-content: center;
  border-radius: 5px;
  background-color: #7cc7c9;
  padding: 10px;
  margin: 3px;
  text-align: center;
  width: 100%;
}
.li-aside-div:hover {
  background-color: #0c3344;
  color: #7cc7c9;
  cursor: pointer;
}

#h1-home {
  display: flex;
  justify-content: center;
  color: #7cc7c9;
}

#cart-link {
  display: flex;
  justify-content: flex-end;
  margin-right: 5%;
  color: #7cc7c9;
}

.products-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

#input-search-products {
  width: 500px;
  margin-right: 10px;
}

#button-search-products {
  background-color: #7cc7c9;
  color: #0c3344;
  width: 120px;
  font-size: 1.3em;
  border-radius: 10px;
  border: 1px solid #0c3344;
}

#button-search-products:hover {
  background-color: #0c3344;
  color: #7cc7c9;
  border: solid 1px #7cc7c9;
} */
